<div id="page" #page class=" relative  ">
    <div id="playground" #playground></div>
    <!-- pa -->
    <div  #menu *ngIf="show_menu" class=" w-1/3  flex-col flex justify-center items-center z-20 h-full  ">
        <input type="text" #filter class="z-50 fixed h-7 top-7"[(ngModel)]="filter_exp" (ngModelChange)="filter_sheets()"  placeholder="search">
        <div #container class="overflow-auto  hover:overflow-y  hide_scroll h-screen fixed top-6 ">
           <div #list class="mt-9" >

           </div>
        </div>
        <!-- <div #remaining class="bg-white w-full z-20 flex-grow">testing</div> -->
    </div>
</div>
<!-- <ion-item *ngFor="let plant of plants" [routerLink]="['./', plant.id]"> -->
    