<pdf-viewer (click)="getclass()" 
[src]="pdfSrc"
[render-text]="true"
[original-size]="false"
class="h-screen w-full cursor-crosshair " id="hide-scroll"></pdf-viewer>
<div #decibel  class="fixed z-10 select-none right-1 top-0 bg-gray-600 w-12 text-white text-center
rounded-md cursor-pointer"  >{{decibel_nr}}</div>
<div class="fixed z-10 select-none right-14 w-12 bg-blue-400 top-0 text-center rounded-md cursor-pointer" 
(click)="open_editor()">Editor</div>
<div id="speed" class="fixed right-3 z-40 top-10 select-none ">

    <input    type="range" min="0" max="100" value="25" step="1" [(ngModel)]="speed" >
    {{speed}}
   <!-- [(ngModel)]="speed" -->
  </div>
<div class="bg-red-500 fixed top-11" ></div>


